/* initial config */
:root {
    --titleBlue:#414B6C;
    --textGray:#6B7280;
    --linkBlue:#29BDDE;
    --backgroundGray:#F5F5F5;
    --white:#fff;
    --dividerGray:#C2CDE4;
    --tableTitle:#1C4ED8;
    --tableArea:#D9E7F2;
    --tableDivider:#DBE9FE;
    --tagBackground:#FEF3C7;
    --tagText:#B4540A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tags */

body {
    display: flex;
    flex-direction: row;
    gap: 1%;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: var(--white);
    overflow: hidden;
    padding: 3vh;
}

a {
    color: var(--linkBlue);
    text-decoration: underline;
    font-size: small;
}

input {
    border: 1px solid var(--dividerGray);
    border-radius: 5px;
    color: var(--titleBlue);
    font-size: small;
    padding: 0.3rem;
    padding-left: 0.5rem;
    width: 100%;
}

aside, main {
    height: 100%;
    border-radius: 8px;
}

aside {
    width: 20%;
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundGray);
    width: 80%;
    padding: 2%;
    display: flex-row;
    gap: 3%;
}

hr {
    height: 0px;
    color: var(--tableArea);
    margin-left: -2%;
    margin-right: -2%;
}

table {
    background-color: var(--white);
    outline: 1px solid var(--dividerGray);
    border-radius: 18px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px var(--tableDivider);
    border-style: solid none solid none;
    padding: 1.5ch 3ch;
}

th {
    background-color: var(--tableArea);
    color: var(--tableTitle);
    text-align: left;
}

td {
    color: var(--titleBlue);
}

/* classes */

.grid-container {
    display: grid;
}

.grid-item {
    height: min-content;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

main.flex-container, aside.flex-container {
    flex-direction: column;
}

.title {
    color: var(--titleBlue);
    font-weight: bold;
}

.aside-section {
    display: flex-row;
}

.aside-area{
    background-color: var(--backgroundGray);
    padding: 1rem;
    border-radius: 5px;
}

.aside-card {
    background-color:var(--white);
    border: 1px solid var(--dividerGray);
    border-radius: 5px;
    padding: 5%;
    font-size: small;
}

.aside-card .description {
    color: var(--textGray);
    font-size: smaller;
}

main .title {
    font-size: x-large;
    background-color: var(--backgroundGray);
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--dividerGray);
}

.secondary-text {
    color: var(--textGray);
    font-weight: 200;
    font-size: medium;
}

.div-card-tab {
    display: flex;
}

.card-tab {
    background-color: var(--white);
    color: var(--tableTitle);
    font-size: small;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 10px 15px;
    width: min-content;
}

.tag-alerta{
    background-color: var(--tagBackground);
    color: var(--tagText);
    font-size: small;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    padding: 1ch 0.5ch;
}

@media screen and (max-width: 999px){
    body {
        background-color: red;
    }
}

@media screen and (max-width: 555px){
    
    body {
        background-color: blue;
        display: flex;
        flex-direction: column;
        gap: 1%;
        height: 100vh;
        width: 100vw;
    }

    aside {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    main {
        width: 100vw;
        height: 80%;
        overflow: scroll;
    }

    main .title {
        position: fixed;
        background-color: var(--backgroundGray);
        width: 100%;
        padding: 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--dividerGray);
    }

    th {
        position: fixed;
        width: 100%;
    }

}

/*
TODO:
- espacamento entre cards do aside
- icones
- icones nos inputs
- icones nos botoes
- juntar pesquisa e icone no main
- espacamento entre areas do main
- azul na aba selecionada
- arredondar borda da tabela (se possivel)
- mobile
- fazer rascunho no codepen para passar body p flex

*/